.backLink {
  text-decoration: none;
  font-weight: 600;
  color: rgb(61, 59, 59);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 20px;
  display: inline-block;
}
